
  <% @articles.each do |article| %>
    <div class="card mx-auto mb-3" style="width: 18rem;">
      <h5 class="card-title p-3"><%= article.title %></h5>
      <div class="card-body"><%= article.content %></div>
    </div>
  <% end %>
